:root {
  --main-black-color: #111111;
  --main-white-color: #ffffff;
  --secondary-white-color: #f0f0f0;
  --main-red-color: #cc0000;
  --secondary-red-color: #b60000;
  --main-grey-color: #f1f1f1;
  --secondary-grey-color: #e1e1e1;
  --main-blackgrey-color: #767676;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

main {
  min-height: 80vh;
}
